.container {
  display: flex;
  flex-direction: column;
}

.card.one {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 820px;
  width: 100%;
  background-image: url(../images/Image1.png);
}
.card.one h2 {
  text-transform: uppercase;
}
.card.one .headings {
  grid-column: 1/2;
  grid-row: 6/7;
}
.card.one .nav, .card.one .nav.list {
  display: grid;
  align-items: center;
  background: #5474FD;
}
.card.one .nav {
  grid-column: 1/2;
  grid-row: 15/16;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 83px;
  width: -webkit-fill-available;
}
.card.one .nav h3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.card.one .nav.list {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column: 4/5;
  grid-row: 1/2;
  grid-gap: 12px;
  width: 555px;
  margin: 0;
  padding: 0;
}
.card.one .search-field {
  grid-column: 1/2;
  grid-row: 8/10;
  display: flex;
  width: 653px;
  height: 63px;
}
.card.one .search-field input {
  width: 503px;
}
.card.one .scroll-down {
  grid-column: 1/2;
  grid-row: 11/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 123px;
  padding-bottom: 10px;
}
.card.one .btn {
  font-size: 14px;
  line-height: 26px;
}
.card.one .btn.search {
  width: 153px;
  background-color: #5474FD;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  font-family: "Aleo", sans-serif;
  color: #FFFFFF;
  letter-spacing: 1.4px;
}
.card.one .btn.scroll {
  border: none;
  background-color: transparent;
  font-family: "Josefin Sans", serif;
  color: #FFFFFF;
  letter-spacing: 2.8px;
}

.card.two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 685px;
  width: 100%;
  background-image: url(../images/Image2.png);
}
.card.two .paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 342px;
  max-width: 560px;
}
.card.two p {
  color: #E8E8E8;
  font-family: "Josefin Sans", serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
}
.card.two .imgs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: max-content;
  width: 440px;
}
.card.two .imgs .img {
  margin: 5px;
}
.card.two .imgs .img.one {
  justify-self: start;
  grid-column: 1/2;
  grid-row: 1/2;
}
.card.two .imgs .img.two {
  justify-self: end;
  grid-column: 1/2;
  grid-row: 2/3;
}
.card.two .btn.explore {
  height: 63px;
  width: 228px;
  background: #5474FD;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
}

.card.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 100%;
  background-color: #333333;

  p {
    text-align: center;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
  }
}

.icons {
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", serif;
  color: #FFF;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #999;
  font-family: "Josefin Sans", serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2.8px;
}

input::-moz-placeholder {
  color: #999;
  font-family: "Josefin Sans", serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2.8px;
}

input, input::placeholder {
  color: #999;
  font-family: "Josefin Sans", serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2.8px;
}

h1, h2, h3, h4, input {
  line-height: normal;
  margin: 0;
}

h1, h3, a {
  text-transform: uppercase;
}

h1 {
  font-family: "Josefin Sans", serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
}

h2 {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

h3 {
  font-family: "Josefin Sans", serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  padding-right: 24px;
}

h4 {
  font-family: "Josefin Sans", serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 6.82px;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

li {
  width: max-content;
}

a {
  color: #FFF;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  padding-right: 14px;
}

.fa-xl, .fa-lg {
  line-height: 0;
}